.layout {
    display: flex;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: var(--navigation-background-color);
    padding: 5px;
  }
  
  .navigation {
    position: relative;
    color: var(--navigation-color);
    width : 300px;
  
  }
  
  .navigation .navContainer {
  
    width: 100%;
    position: sticky;
    top : 60px;
  
  }
  
  .content {
    background-color: #333;
    width: 100%;
    padding: 20px;
    
  }