:root {

  /* Global Variables */
  --main-color: lightblue;

  /* Component Specific Variables */
  --box-color: #fff;
}

@media (prefers-color-scheme: dark) {

  :root {
    
    /* Global Variables */
    --main-color: #333;


    /* Component Specific Variables */
    --box-color: rgb(235, 235, 160);

  }

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--main-color);
}

body {
  background-color: var(--main-color);
  ;
}

a {
  color: inherit;
  text-decoration: underline;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
