.page {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}


.container {
  display: flex;
flex-direction: column;
gap: 15px;
  position: absolute;
  left: 20px;
  top: 80px;
}
