.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 100px auto;
}

.icons svg {
  width: 50px;
  height: 50px;
}
/* Ovenstående sætning virker fordi alle ikoner er svg filer. */

.container {
  text-align: center;
  position: relative;
  z-index: 99;
}

.actionBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.actionBar .btn {
  padding: 20px;
  color: var(--main-color);
  border-radius: 10px;
  background-color: var(--box-color);
  cursor: pointer;
}

