.container {
    border : 2px white solid;
    padding : 20px;
    width: 100%;
}

.portfolios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

}

.portfolio {
    width : 25%;
}